@import './layout.scss';
@import 'swiper/dist/css/swiper.min.css';
p, body{
    margin:0;
    padding:0
}

.headline_title{
    height: 3.5rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 3.5rem;
    background: white;
}
.headline-color{
    float: left;
    width: 100%;
    height: .625rem;
    background: rgb(243, 245, 247);
}
.el-carousel__indicators{
    bottom: .5rem;   
}